main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* rating color inspired by udemy */
.rating-star {
  color: #eb8a2f;
}

.rating-number {
  font-weight: 700;
  color: #be5a0e;
}
